<div class="container" >




<!--  ui bs-->
<form  ng-submit = "vm.createInfo()">
    <div class="btn-group">
      <label style="font: Bold;">Home Type</label>
      <br>
    <label class="btn btn-primary" ng-model="vm.Rental.homeType" type="radio" uib-btn-radio="'Apartment'">Apartment</label>
    <label class="btn btn-primary" ng-model="vm.Rental.homeType" type="radio" uib-btn-radio="'House'">House</label>
    <label class="btn btn-primary" ng-model="vm.Rental.homeType" type="radio" uib-btn-radio="'Bed & breakfast'">Bed & Breakfast</label>
  </div>

  <br>
  <label>Acommadates</label>
  <br>







<button type="submit">Submit</button>
</form>


    </div>
